/*
  pattern to hidde something

  opacity:0
  pointer-events:none

*/
a{
    text-decoration: none;
    color: initial;
    opacity: 0.8;
}

a:hover{
    opacity: 1;
}

.open-about, .close-about{
    position: absolute;
    top: 20px;
    right: 20px;
    color: rgb(85,26,139);
    cursor: pointer;
}   

/*----------------------------------------------------------*/
/*These styles go for every pop-up in a page with more than one*/

.overlay{
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0,0.3);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s opacity ease-in-out;
    z-index: 9;
    min-height: 100vh;
}

.pop-up{
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    z-index: 10;
    transition: 0.5s opacity ease-in-out;
}

.active{
    opacity: 1;
    pointer-events: all;
}
/*--------------------------------------------------------*/


#about{
    background-color: #fafafa;
    width: 800px;
    max-width: 90%;
    padding: 2rem 3rem;
    border-radius: 5px;
}

#about h2{
    margin: 1rem;
}

#about nav{
    margin-left: 3rem;
}

#about nav a{
    display: flex;
    align-items: flex-end;
    margin: 0.5rem 0;
}

#about nav svg{
    margin-right: 0.5rem;
}

#github-project-link{margin-top: 1rem;}

#about h2, #about span, #about svg{
    color: rgb(85,26,139);
}

